* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "text_font";
    src: url("../fonts/Helvetica-01.ttf") format("truetype");
}
@font-face {
    font-family: "title_font";
    src: url("../fonts/Helvetica-Bold-02.ttf") format("truetype");
    font-weight: bold;
}
:root {
    --black_color: #242424;
    --white_color: #fff;
    --text_font: "text_font";
    --title_font: "title_font";
}

body {
    font-family: var(--text_font);
    color: var(--black_color);
    background-color: var(--white_color);
}

.main {
    display: grid;
    max-width: 2000px;
    min-width: 300px;

    video {
        width: 100%;
        height: 380px;
        object-fit: cover;
    }

    .meters {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 700px));
        justify-content: center;
        height: 60dvh;
        color: var(--white_color);
        background: #fd1d1d;
        background: linear-gradient(
            0deg,
            rgba(253, 29, 29, 1) 28%,
            rgba(252, 142, 69, 1) 70%,
            rgba(252, 176, 69, 1) 92%
        );

        div {
            display: grid;
            align-content: center;
            row-gap: 25px;
            padding: 20px;

            .title {
                font-family: var(--title_font);
                margin-bottom: 20px;
                text-transform: uppercase;
                span {
                    display: block;
                }
            }
        }
    }

    .nike_store {
        img {
            width: 100%;
            height: 450px;
            object-fit: cover;
        }
    }
}
