* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "paragraph_font";
    src: url("../fonts/Helvetica-01.ttf") format("truetype");
}
@font-face {
    font-family: "title_font";
    src: url("../fonts/Helvetica-Bold-02.ttf") format("truetype");
    font-weight: bold;
}
:root{
    --white: #fff;
    --black: #242424;
}

body {
    font-family: "paragraph_font";
    color: var(--white);
    background-color: var(--w);
}

.bg-purple {
  background-color: #800080; /* Puedes cambiar este valor por el tono de violeta que prefieras */
}
