* {
  margin: 0 !important;
  padding: 0 !important;
}

@font-face {
  font-family: "paragraph_font";
  src: url("../fonts/Helvetica-01.ttf") format("truetype");
}
@font-face {
  font-family: "title_font";
  src: url("../fonts/Helvetica-Bold-02.ttf") format("truetype");
  font-weight: bold;
}
:root {
  --white: #fff;
  --black: #242424;
  --color1: #800080;
  --color2: #f7e6d2;
  --color3: #24f54a;
  --color4: #ccc;
}

body {
  font-family: "paragraph_font";
  color: var(--black);
  background-color: var(--white);
  overflow: hidden;
}

.bg-purple {
  background-color: var(--color1);
}
.bg-naranja-claro {
  background-color: var(--color2);
}

.bg-green-claro {
  background-color: var(--color3);
}

.bg-gray {
  background-color: var(--color4);
}
