@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

#welcome_carousel {
    display: grid;
    width: 90%;
    margin: auto;
    align-content: center;
    text-align: center;

    nav {
        display: flex;
        position: relative;
        width: 100%;
        margin: auto;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        ul {
            animation: scroll 40s linear infinite;
            display: flex;
            width: calc(250px * 14);

            img {
                width: 250px;
                height: 100px;
            }
        }
    }

    nav::before,
    nav::after {
        content: "";
        width: 20%;
        height: 100%;
        position: absolute;
        background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
        z-index: 1;
    }

    nav::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    nav::before {
        left: 0;
        top: 0;
    }
}
